.contenedor-testimonio {
  width: 1170px;
  height: 368px;
  margin: 10px 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.classImage {
  height: 100%;
  width: auto;
}

.carta-presentacion {
  text-align: center;
  padding: 10px;
  font-family: Lato;
  font-weight: 400;
  line-height: 3rem;
}

.titulo-carta {
  font-size: xx-large;
}

.subtitulo-carta {
  font-size: large;
}

.informacion-carta {
  font-size: small;
  line-height: 1rem;
}
